li {
    list-style-type: none;
}
input[type="checkbox"] {
    display: inline;
}

.checkbox {
    margin-right: 25px;
}
  
.done {
    text-decoration: line-through;
}

.remove {
    font-size: 14px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}